nav {
    background-color: rgba(46, 39, 34, 0.676);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 100px;
    margin-left: 50px;
}

#navbarNav {
    display: flex;
    justify-content: center;
}

#navbarNav ul li{
    margin: 0 15px;
}

#navbarNav ul li a {
    color: #D8CEC5;
    font-size: 40px;
    font-family: Callistoga;
}

#loggedIn {
    height: 100px;
    margin-right: 50px;
    border-radius: 50px;
}

/* @media (max-width: 2556px) {
    #logo {
        height: 200px;
    }

    #navbarNav ul li a {
        font-size: 55px;
    }

    #loggedIn {
        height: 200px;
    }
}

@media (max-width: 1024px) {
    #logo {
        height: 80px;
        margin-left: 20px;
    }

    #navbarNav ul li a {
        font-size: 30px;
        margin: 0 10px;
    }

    #loggedIn {
        height: 80px;
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    #logo {
        height: 70px;
        margin: 0 auto;
    }

    #navbarNav {
        flex-direction: column;
        width: 100%;
    }

    #navbarNav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #navbarNav ul li {
        margin: 10px 0;
    }

    #navbarNav ul li a {
        font-size: 25px;
    }

    #loggedIn {
        height: 70px;
        margin: 10px auto;
    }
} */