nav {
    background-color: rgba(46, 39, 34, 0.676);
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 9rem;
    width: 9rem;
    margin-left: 3rem;
}

.navbar-toggler {
    background-color: #3A69B6;
    font-size: 1.5rem;
    border: none;
    margin-right: 3rem;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

#navbarSupportedContent {
    justify-content: center;
    font-size: 2.5rem;
}

#navbarSupportedContent ul li a {
    margin: 0 1.5rem;
    color: #D8CEC5;
    font-family: Callistoga;
    transition: 0.5s ease-in-out;
}
#navbarSupportedContent ul li a:hover {
    transition: 0.5s ease-in-out;
}

#loggedIn {
    height: 9rem;
    width: 9rem;
    margin-right: 3rem;
    border-radius: 50%;
    border: 0.3rem solid #AFECA9;
    transition: 0.5s ease-in-out;
}

#loggedIn:hover {
    border: 0.3rem solid #63D157 !important;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}