<div class="container-fluid">
    <div class="row footer">
        <footer>
            <div class="col-6 rights">
                <p>
                    Contact Us:
                </p>
                <p>
                    Tel.:06301234567
                </p>
                <p>
                    E-mail: FlamesofFreedom&#64;gmail.com
                </p>
                <p>
                    &copy; 2024 Flames of Freedom. All rights reserved.
                </p>
            </div>
            <div class="col-6 social">
                <p>
                    <a href="not-found">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="not-found">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="not-found">
                        <i class="bi bi-discord"></i>
                    </a>
                </p>
                <p>
                    <a href="not-found">
                        <i class="bi bi-tiktok"></i>
                    </a>
                    <a href="not-found">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a href="not-found">
                        <i class="bi bi-github"></i>
                    </a>
                </p>
            </div>
        </footer>
    </div>
</div>