.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

.title p {
    font-size: 4em;
    width: 100%;
    color: #D8CeC5;
    font-family: Jacques Francois;
}

#homeFooter {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-image: linear-gradient(to top, rgba(175, 149, 131, 0.684), rgba(46, 39, 34, 0.53));
}

#downloadButton {
    background-color: #405A85;
    padding: 20px 50px;
    text-align: center;
    border-radius: 50px;
    margin-left: 50px;
    text-decoration: none;
    color: #D8CeC5;
    font-size: 30px;
}

#downloadButton:hover {
    color: #D8CEC5 !important;
    background-color: #3a69b6;
}

#homeFooter .social p {
    margin: 0;
    font-size: 40px;
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

#home footer .social p a {
    padding-left: 20px;
    color: #D8CeC5;
}

@media (min-width: 2556px){
    .title {
        height: calc(100vh - 450px);
    }

    .title p {
        font-size: 7.5em;
    }

    #homeFooter {
        padding: 40px;
    }

    #downloadButton {
        padding: 30px 60px;
        font-size: 60px;
        border-radius: 70px;
    }

    #homeFooter .social p a{
        font-size: 60px;
    }
}