.mainBg{
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

.downloadContent {
    margin: 3.5rem auto;
    align-items: center;
    padding: 6.5rem;
    font-size: 1.8rem;
    text-align: justify;
    background-color: rgba(46, 39, 34, 0.676);
    border-radius: 3.5rem;
    width: 80%;
    color: #D8CEC5;
}

.downloadContent .summary {
    padding: 1.5rem 3.5rem;
}

.downloadContent div #gameDownload {
    background-color: #405A85;
    color: #D8CEC5;
    border: none;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    margin-top: 2rem;
    font-weight: bold;
}

.downloadContent div #gameDownload:hover {
    background-color: #3a69b6;
    color: #D8CEC5;
    transition: 0.5s ease-in-out;
}

.carouselGallery {
    padding: 1.5rem 3.5rem;
}

.carousel-inner img {
    height: 25rem;
}

.carousel-control-prev-icon {
    background-image: url('../../../assets/images/arrow.svg');
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    filter: saturate(500%) brightness(120%);
    transform: rotate(180deg);
    height: 100%;
    background-color: rgba(18, 18, 19, 0.5);
    position: absolute;
    left: 0;
}

.carousel-control-next-icon {
    background-image: url('../../../assets/images/arrow.svg');
    background-size: contain;
    width: 2rem;
    height: 2rem;
    filter: saturate(500%) brightness(120%);
    height: 100%;
    background-color: rgba(18, 18, 19, 0.5);
    position: absolute;
    right: 0;
}

.carouselPictures {
    transition: transform 2s ease;
}

.gallery-container {
    width: 100%;
}

.reviews {
    width: 45rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
}

.review-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    height: 20rem;
    background-color: #3d3d3da8;
    border-radius: 3.5rem;
    border: 0.3rem solid #AFECA9;
}

.carousel-inner .profile-pic {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border: 0.4rem solid #afeca9;
    border-radius: 50%;
}

.review-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}

.username {
    font-size: 1.6rem;
    font-weight: bold;
    color: #D8CEC5;
}

.review-text {
    width: 65%;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #D8CEC5;
    text-align: justify;
}

.carouselReviews {
    transition: transform 2s ease;
    width: 100%;
}

#homeButton {
    background-color: #405A85;
    padding: 1rem 3.5rem;
    text-align: center;
    border-radius: 2rem;
    margin-left: 3.5rem;
    text-decoration: none;
    font-size: 2rem;
    color: #D8CeC5;
}

#homeButton:hover {
    color: #D8CEC5 !important;
}

#homeButton:hover {
    color: #D8CEC5;
    background-color: #3a69b6;
}

.social a {
    margin-right: 1.5rem;
}

@media screen and (min-width: 2560px) {
    .downloadContent {
        margin: 5rem auto;
        padding: 6.5rem;
        font-size: 2.25rem;
        text-align: justify;
        border-radius: 4rem;
        width: 75%;
    }
    
    .downloadContent div #gameDownload {
        font-size: 2.8rem;
        border-radius: 5rem;
        margin-top: 2rem;
    }
    
    .carousel-inner img {
        height: 35rem;
    }

    .carousel-control-prev-icon {
        background-image: url('../../../assets/images/arrow.svg');
        background-size: contain;
        width: 4rem;
        height: 4rem;
        filter: saturate(500%) brightness(120%);
        transform: rotate(180deg);
        height: 100%;
    }
    
    .carousel-control-next-icon {
        background-image: url('../../../assets/images/arrow.svg');
        background-size: contain;
        width: 4rem;
        height: 4rem;
        filter: saturate(500%) brightness(120%);
        height: 100%;
    }
    
    .reviews {
        width: 50rem;
        margin: 8rem auto;
    }
    
    .review-container {
        width: 60rem;
        height: 25rem;
        border-radius: 4rem;
        border: 0.5rem solid #AFECA9;
    }
    
    .carousel-inner .profile-pic {
        border: 0.5rem solid #afeca9;
    }
    
    .username {
        font-size: 2rem;
    }
    
    .review-text {
        width: 65%;
        font-size: 1.8rem;
    }

    footer {
        height: 15rem;
    }

    #homeButton {
        font-size: 4rem;
        border-radius: 5rem;
    }

    .social a{
        font-size: 4rem;
        padding: 0 1.5rem;
    }
}