.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url(../../../assets/images/makarov\ BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.mediaContent {
    background-color: rgba(61, 61, 61, 0.421);
    padding: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 75px;
}

.mediaContent div {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D8CEC5;
    text-align: justify;
    padding: 20px;
}

#galleryPic {
    height: 350px;
    width: 350px;
}

/*
@media (max-width: 2556px) {
    .mediaContent {
        width: 70%;
        padding: 150px;
        border-radius: 100px;
    }

    .mediaContent div {
        font-size: 45px;
    }

    #galleryPic {
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .mediaContent {
        width: 90%;
        padding: 80px;
    }

    .mediaContent div {
        font-size: 30px;
        flex-direction: column;
        text-align: center;
    }

    #galleryPic {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 768px) {
    .mediaContent {
        width: 95%;
        padding: 50px;
        border-radius: 50px;
    }

    .mediaContent div {
        font-size: 25px;
        flex-direction: column;
        text-align: center;
    }

    .mediaContent p {
        padding: 20px;
    }

    #galleryPic {
        height: 250px;
        width: 250px;
    }
}
    */