.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

form {
    width: 700px;
    margin: 100px auto;
    border-radius: 20px;
    padding: 50px;
    background-color: #D8CEC5;
    text-align: center;
    font-size: 25px;
}

h1 {
    font-size: 65px;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 25px;
    margin: 0 auto;
    width: 500px;
}

label {
    font-weight: bold;
    text-align: left;
}

input {
    border-radius: 25px !important;
    padding: 10px;
    border: none;
}

input:focus {
    outline: 3px solid #3A69B6;
}

textarea {
    height: 150px;
    border-radius: 20px !important;
    padding: 10px;
}

textarea:focus {
    outline: 3px solid #3A69B6;
}

#forgot {
    display: flex;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 80px;
}

#forgot:hover {
    color: rgb(19, 89, 219) !important;
}

button {
    width: 350px;
    font-size: 35px;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 50px;
    font-weight: bold;
    border: none;
    background-color: #405A85;
    color: #D8CEC5;
}

button:hover {
    background-color: #3A69B6;
    transition: 0.5s ease-in-out;
}

#login-register {
    margin-top: 50px;
    font-size: 30px;
}

#login-register a:hover {
    color: rgb(19, 89, 219) !important;
}

.error {
    color: rgb(171, 19, 19);
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    font-family: Bookman Old Style;
}

/*

.error {
    color: rgb(171, 19, 19);
    font-size: 30px;
    text-align: center;
}

@media (max-width: 2556px) {
    form {
        width: 900px;
        padding: 70px;
    }

    .input-group {
        width: 600px;
        font-size: 30px;
    }

    form button {
        width: 400px;
        font-size: 40px;
    }
}

@media (max-width: 1024px) {
    form {
        width: 80%;
        padding: 40px;
    }

    .input-group {
        width: 90%;
        font-size: 22px;
        padding: 30px 0 0 15px;
    }

    form button {
        width: 80%;
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 30px;
    }

    .input-group {
        width: 100%;
        font-size: 20px;
        padding: 20px 0 0 10px;
    }

    form button {
        width: 100%;
        font-size: 25px;
    }

    #forgot {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .error {
        font-size: 25px;
    }
} */