.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

form {
    width: 45rem;
    margin: 6.5rem auto;
    border-radius: 1.5rem;
    padding: 3.5rem;
    background-color: #D8CEC5;
    text-align: center;
    font-size: 2rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
}

p {
    font-size: 2.5rem;
    margin-top: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3.5rem;
}

label {
    font-weight: bold;
    text-align: left;
}

input {
    border-radius: 1.5rem !important;
    padding: 1rem;
    border: none;
}

input:focus {
    outline: 0.3rem solid #3A69B6;
}

#forgot {
    display: flex;
    font-size: 2.3rem;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    color: #3A69B6;
    width: 50%;
}

#forgot:hover {
    color: rgb(19, 89, 219) !important;
    cursor: pointer;
}

button {
    width: 22rem;
    font-size: 2.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    margin-top: 2rem;
    font-weight: bold;
    border: none;
    background-color: #405A85;
    color: #e0d9d2;
}

button:hover {
    background-color: #3A69B6;
    transition: 0.5s ease-in-out;
}

#login-register {
    margin-top: 3.5rem;
    font-size: 2rem;
}

#login-register a {
    color: #3A69B6;
    text-decoration: underline;
}

#login-register a:hover {
    color: rgb(19, 89, 219) !important;
    cursor: pointer;
}

.error {
    color: rgb(171, 19, 19);
    font-size: 2.8rem;
    margin-top: 1.5rem;
    text-align: center;
    font-family: Bookman Old Style;
}

.invalid {
    border: 0.3rem solid red;
}

@media screen and (min-width: 2560px) {
    form {
        width: 65rem;
        font-size: 3rem;
        padding: 4rem 6rem;
        border-radius: 4rem;
    }
    
    h1 {
        font-size: 5rem;
        margin-bottom: 4rem;
    }
    
    .input-group {
        padding: 4rem 0 0 1.5rem;
        width: 100%;
    }

    input {
        padding: 1.5rem;
        border-radius: 4rem !important;
    }

    input:focus {
        border: 0.3rem solid #3A69B6;
    }
    
    #forgot {
        font-size: 3rem;
        padding-top: 1.5rem;
        padding-left: 1rem;
        margin-bottom: 4rem;
        width: 25rem;
    }
    
    #forgot:hover {
        color: rgb(19, 89, 219) !important;
        cursor: pointer;
    }
    
    button {
        width: 35rem;
        font-size: 4rem;
        border-radius: 5rem;
        font-weight: bold;
        border: none;
        background-color: #405A85;
        color: #D8CEC5;
    }

    #login-register {
        margin-top: 3rem;
        font-size: 3rem;
    }

    #login-register a {
        text-decoration: underline;
    }

    .error {
        color: rgb(171, 19, 19);
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    
    #login-register a:hover {
        color: rgb(19, 89, 219) !important;
    }
    
    .invalid {
        border: 3px solid red;
    }
}