<div class="secondbg">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form action="" id="loginForm">
                    <h1>Login</h1>
                    <div class="input-group">
                        <label for="user">E-mail</label>
                        <input type="text" [(ngModel)]="loginUser" name="user" id="user" placeholder="Enter your e-mail" required="true">
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" [(ngModel)]="loginPass" name="password" id="password" placeholder="*********" required="true">
                    </div>
                    <a href="#" id="forgot">Forgot Password?</a>
                    <div class="error">{{errorMessage}}</div>
                    <button type="button" id="login" (click)="onLogin()">Login</button>
                    <p id="login-register">
                        Dont't have an account? <a href="/register" id="registerhere">Register one here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>