.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.devContent {
    background-color: rgba(61, 61, 61, 0.421);
    padding: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 75px;
    color: #D8CEC5;
}

.devContent .row div {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
}

.dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dev img {
    width: 250px;
    border: 5px solid #AFECA9;
    border-radius: 150px;
    margin: 0 auto;
}

.devContent .row .dev p {
    text-align: center;
    margin-top: 20px;
}

.devContent .row .text {
    display: flex;
    padding-left: 100px;
    text-align: justify;
    align-items: center;
}
/* 
@media (max-width: 1024px) {
    .devContent {
        padding: 60px;
        width: 90%;
    }

    .dev img {
        width: 200px !important;
    }

    .devContent .row .dev p {
        font-size: 20px;
    }

    .devContent .row .text {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 25px !important;
    }
}

@media (max-width: 768px) {
    .devContent {
        padding: 40px;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .dev img {
        width: 180px !important;
    }

    .devContent .row .dev p {
        font-size: 18px;
    }

    .devContent .row .text {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px !important;
    }
}

@media (max-width: 480px) {
    .devContent {
        padding: 20px;
        width: 95%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .dev img {
        width: 150px !important;
    }

    .devContent .row .dev p {
        font-size: 16px;
    }

    .devContent .row .text {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px !important;
    }
}
*/
