.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

form {
    width: 700px;
    margin: 100px auto;
    border-radius: 20px;
    padding: 50px;
    background-color: #D8CEC5;
    text-align: center;
    font-size: 25px;
}

h1 {
    font-size: 65px;
}

p {
    font-size: 40px;
    margin-top: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 25px;
    margin: 0 auto;
    width: 500px;
}

label {
    font-weight: bold;
    text-align: left;
}

input {
    border-radius: 25px !important;
    padding: 10px;
    border: none;
}

input:focus {
    outline: 3px solid #3A69B6;
}

textarea {
    height: 150px;
    border-radius: 20px !important;
    padding: 10px;
}

textarea:focus {
    outline: 3px solid #3A69B6;
}


button {
    width: 350px;
    font-size: 35px;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 30px;
    font-weight: bold;
    border: none;
    background-color: #405A85;
    color: #D8CEC5;
}

button:hover {
    background-color: #3A69B6;
    transition: 0.5s ease-in-out;
}

.error {
    color: rgb(171, 19, 19);
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    font-family: Bookman Old Style;
}

@media (min-width: 2560px) {
    form {
        width: 60rem;
        font-size: 3rem;
        padding: 4rem 6rem;
        border-radius: 4rem;
    }

    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 3.2rem;
    }

    .input-group {
        padding: 4rem 0 0 1.5rem;
        width: 100%;
    }

    input {
        padding: 1.5rem;
        border-radius: 4rem !important;
    }

    input:focus {
        border:0.25rem solid #3A69B6;
    }

    textarea {
        height: 15rem;
        margin-bottom: 4rem;
        border-radius: 3rem !important;
        padding: 10px;
        border: none;
    }

    textarea:focus {
        border:0.25rem solid #3A69B6;
    }

    button {
        width: 35rem;
        font-size: 4rem;
        border-radius: 5rem;
        font-weight: bold;
        border: none;
        background-color: #405A85;
        color: #D8CEC5;
    }

    .error {
        color: rgb(171, 19, 19);
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}