.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url(../../../assets/images/makarov\ BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.mediaContent {
    background-color: rgba(48, 47, 47, 0.568);
    padding: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 75px;
}

.mediaContent div {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D8CEC5;
    text-align: justify;
    padding: 20px;
}

#galleryPic {
    height: 350px;
    width: 350px;
}

@media (min-width: 2560px){
    .mediaContent p {
        font-size: 4rem;
    }
    
    #galleryPic {
        height: 30rem;
        width: 30rem;
    }
}