<div class="mainbg">
    <app-adminnavbar></app-adminnavbar>
    <div class="container-fluid">
        <div class="row downloadContent">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 summary">
                <p>
                    Step into the whirlwind of the 1956 revolution in an exciting detective game! The streets of
                    Budapest are filled with dangers, and your fate is in your hands. Follow in the footsteps of the
                    insurgents, search for secrets, and uncover the forgotten moments of history in an unparalleled
                    story-driven game. Join the heroes fighting for freedom, experience the heart-wrenching drama of the
                    revolution, and uncover the truth. Download now and be a part of history!
                </p>
                <button type="button" id="gameDownload">
                    Download the game
                </button>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 carouselGallery">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="pic14.png" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="Gallery 6.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="missing.png" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row slider">
            <div class="col-12 reviews">
                <div id="carouselExample reviewCarousel" class="carousel slide" data-bs-ride="carousel"
                    data-bs-interval="5000">
                    <div class="carousel-inner">
                        <div class="carousel-item active carouselReviews">
                            <div class="review-container">
                                <div class="review-profile">
                                    <img src="Default pfp.png" alt="Profile Picture" class="profile-pic">
                                    <p class="username">Kristof0727</p>
                                </div>
                                <div class="review-text">
                                    <p>
                                        "The story is captivating, with decisions having real consequences, and the
                                        revolutionary atmosphere of Budapest is perfectly conveyed. The detective
                                        storyline
                                        is full of exciting twists—it's a must for anyone who loves historical dramas!"
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item carouselReviews">
                            <div class="review-container">
                                <div class="review-profile">
                                    <img src="Default pfp.png" alt="Profile Picture" class="profile-pic">
                                    <p class="username">Work Money Repeat</p>
                                </div>
                                <div class="review-text">
                                    <p>
                                        "You just can't put it down! Every moment is filled with tension and emotion,
                                        and
                                        the characters are so lifelike that you almost feel like you’re fighting
                                        alongside
                                        them. Flames of Freedom: 1956 perfectly captures the essence of the revolution!"
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item carouselReviews">
                            <div class="review-container">
                                <div class="review-profile">
                                    <img src="Default pfp.png" alt="Profile Picture" class="profile-pic">
                                    <p class="username">SzBmester13</p>
                                </div>
                                <div class="review-text">
                                    <p>
                                        "A unique and unforgettable adventure! Flames of Freedom: 1956 is not just a
                                        game
                                        but also a time-travel experience that transports you to the past. The
                                        atmosphere,
                                        the music, and the meticulously crafted story keep every player glued to the
                                        screen."
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item carouselReviews">
                            <div class="review-container">
                                <div class="review-profile">
                                    <img src="Default pfp.png" alt="Profile Picture" class="profile-pic">
                                    <p class="username">P1tor</p>
                                </div>
                                <div class="review-text">
                                    <p>
                                        "Stunning storytelling and visual design! It’s crafted down to the smallest
                                        details,
                                        as if we were right in the midst of the revolution. Our choices truly matter,
                                        and
                                        the game never lets us be bored for a single moment."
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item carouselReviews">
                            <div class="review-container">
                                <div class="review-profile">
                                    <img src="Default pfp.png" alt="Profile Picture" class="profile-pic">
                                    <p class="username">Ben</p>
                                </div>
                                <div class="review-text">
                                    <p>
                                        "A captivating, emotionally charged time-travel journey. The game perfectly
                                        balances
                                        tension and drama while presenting exciting detective challenges. Flames of
                                        Freedom:
                                        1956 is a true masterpiece in storytelling!"
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row footer">
            <footer>
                <div class="col-6">
                    <a href="/adminhome" id="homeButton">
                        Back to Home
                    </a>
                </div>
                <div class="col-6 social">
                    <p>
                        <a href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-discord"></i>
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            <i class="bi bi-tiktok"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-github"></i>
                        </a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>