nav {
    background-color: rgba(46, 39, 34, 0.676);
    padding: 20px;
    display: flex;
    align-items: center;
}

#logo {
    height: 130px;
    margin-left: 50px;
}

.navbar-toggler {
    background-color: #3A69B6;
    font-size: 25px; 
    border: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

#navbarSupportedContent ul {
    margin: 0 auto;
}

#navbarSupportedContent ul li a {
    color: #D8CEC5;
    font-family: Callistoga;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 40px; 
}

#navbarSupportedContent ul li a:hover {
    color: #63D157;
    transition: 0.5s ease-in-out;
}

#loggedOut {
    height: 130px;
    margin-right: 50px;
    border-radius: 50%;
    border: 4.8px solid #AFECA9; 
    transition: border 0.5s ease-in-out;
}

#loggedOut:hover {
    border: 4.8px solid #63D157 !important;
    cursor: pointer;
}

@media screen and (min-width: 425px) {
    #logo {
        height: 70px;
        margin-left: 0px;
    }

    #navbarSupportedContent ul {
        gap: 0px;
    }

    #navbarSupportedContent ul li a {
        font-size: 30px;
    }

    #loggedOut {
        height: 70px;
        margin-right: 0px;
    }
}

@media screen and (min-width: 768px) {
    #logo {
        height: 100px;
        margin-left: 0px;
    }

    #navbarSupportedContent ul {
        gap: 0px;
    }

    #navbarSupportedContent ul li a {
        font-size: 30px;
    }

    #loggedOut {
        height: 100px;
        margin-right: 0px;
    }
}

@media screen and (min-width: 1024px) {
    #logo {
        height: 80px;
        margin-left: 10px;
    }

    #navbarSupportedContent ul {
        gap: 20px;
    }

    #navbarSupportedContent ul li a {
        font-size: 25px;
    }

    #loggedOut {
        height: 80px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1440px) {
    #logo {
        height: 110px;
        margin-left: 20px;
    }

    #navbarSupportedContent ul {
        gap: 20px;
    }

    #navbarSupportedContent ul li a {
        font-size: 40px;
    }

    #loggedOut {
        height: 110px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1920px) {
    #navbarSupportedContent ul {
        gap: 50px;
    }

    #navbarSupportedContent ul li a {
        font-size: 45px;
    }
}

@media screen and (min-width: 2560px) {
    #logo {
        height: 195px;
    }

    #navbarSupportedContent ul {
        gap: 60px;
    }

    #navbarSupportedContent ul li a {
        font-size: 70px; 
    }

    #loggedOut {
        height: 195px;
    }
}
