.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

form {
    width: 720px;
    margin: 104px auto;
    border-radius: 25px;
    padding: 50px;
    background-color: #D8CEC5;
    text-align: center;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
}

.profPic {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    border-radius: 50px;
    padding: 10px 25px;
    border: none;
    background-color: white;
    font-size: 30px;
}

input:focus,
textarea:focus {
    outline: 4.8px solid #3A69B6;
}

.edit {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

img {
    display: flex;
    width: 200px;
    border-radius: 50%;
    justify-content: left;
    flex-direction: row;
}

.file-upload-label i {
    font-size: 40px;
    color: #3D3D3D;
    display: flex;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 50%;
    background-color: rgba(46, 39, 34, 0.676);
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 40%;
    left: 60%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.file-upload-label:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#change {
    width: 10%;
    height: 5%;
    margin-left: 15px;
    background: none;
    color: #3D3D3D;
    font-size: 40px;
}

#change:hover {
    color: #3D3D3D !important;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}

.buttons div {
    width: 350px;
    display: flex;
    justify-content: center;
}

button {
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: #405A85;
    color: #D8CEC5;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
}

#logout {
    transition: 0.5s ease-in-out;
}

#logout:hover {
    background-color: #3A69B6;
    color: #D8CEC5;
    transition: 0.5s ease-in-out;
}

#save {
    background-color: #8b8b8b;
}

#save:disabled {
    background-color: #8b8b8b !important;
    transition: 0.5s ease-in-out;
}

#save:not(:disabled) {
    background-color: #405A85;
    transition: 0.5s ease-in-out;
}

#save:hover {
    background-color: #3A69B6;
    transition: 0.5s ease-in-out;
}

@media screen and (min-width: 425px) {
    form {
        width: 90%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 20px 30px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 25px;
    }
    
    input {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        width: 100%;
    }

    img {
        width: 150px;
    }

    .tooltip-text {
        width: 75%;
        padding: 5px 10px;
        position: absolute;
        bottom: 0;
        left: 65%;
    }
}

@media screen and (min-width: 768px) {
    form {
        width: 75%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 20px 40px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 50px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 30px;
    }
    
    input {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 25px;
        width: 100%;
    }

    img {
        width: 170px;
    }

    .tooltip-text {
        width: 75%;
        padding: 5px 10px;
        position: absolute;
        bottom: 35%;
        left: 65%;
    }
}

@media screen and (min-width: 1024px) {
    form {
        width: 65%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 50px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 50px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 35px;
    }
    
    input {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 30px;
        width: 100%;
    }

    img {
        width: 180px;
    }

    .tooltip-text {
        width: 75%;
        padding: 5px 10px;
        position: absolute;
        bottom: 35%;
        left: 60%;
    }
}

@media screen and (min-width: 1440px) {
    form {
        width: 45%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 50px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 50px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 40px;
    }
    
    input {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 30px;
        width: 100%;
    }

    img {
        width: 190px;
    }

    .tooltip-text {
        width: 75%;
        padding: 5px 10px;
        position: absolute;
        bottom: 35%;
        left: 60%;
    }
}

@media screen and (min-width: 1920px) {
    form{
        width: 40%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 50px 70px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    img {
        width: 190px;
    }

    .tooltip-text {
        width: 75%;
        padding: 5px 10px;
        position: absolute;
        bottom: 35%;
        left: 55%;
    }
}

@media (min-width: 2560px) {
    form {
        width: 35%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 80px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 80px;
        margin-bottom: 50px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 50px;
    }
    
    input {
        border-radius: 45px !important;
        padding: 10px 20px;
        border: none;
        font-size: 40px;
        width: 100%;
    }

    img {
        width: 220px;
    }

    .tooltip-text {
        width: 75%;
        padding: 5px 10px;
        position: absolute;
        bottom: 35%;
        left: 50%;
    }

    .file-upload-label i {
        font-size: 50px;
    }
}