.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.communityContent {
    background-color: rgba(61, 61, 61, 0.421);
    padding: 3.5rem;
    width: 80%;
    margin: 6.5rem auto;
    border-radius: 4.7rem;
    display: flex;
    justify-content: center;
    color: #D8CEC5;
    flex-direction: column;
    font-size: 2rem;
}

.create-post-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#showMore {
    padding: 0.8rem 3.3rem;
    border-radius: 50px;
    border: 3px solid #D8CEC5;
    background-color: transparent;
    /* background-color: #D8946C; */
    color: #D8CEC5;
    transition: 0.5s ease-in-out;
    font-weight: 600;
}

#showMore:hover {
    background-color: rgb(177, 117, 64);
}

#submit {
    background-color: #8B8B8B;
    cursor: not-allowed;
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
}

#submit:disabled {
    background-color: #8b8b8b !important;
    transition: 0.5s ease-in-out;
}

#submit:not(:disabled) {
    background-color: #4CAF50;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#submit:hover {
    background-color: #338837;
    transition: 0.5s ease-in-out;
}

.create-post-btn {
    margin-top: 5rem;
    font-size: 2rem;
    width: 30%;
    background-color: #4CAF50;
    color: #D8CEC5;
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: 600;
}

.create-post-btn:hover {
    background-color: #338837;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #FEFEFE;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.modal-content form {
    padding: 0 40px;
}

.modal-content h2 {
    color: #3D3D3D;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.modal-content label {
    color: #3D3D3D;
    font-size: 2rem;
    font-weight: bold;
}

.modal-content input {
    margin-bottom: 50px;
    font-size: 1.5rem;
}

.modal-content select {
    margin-bottom: 50px;
    font-size: 1.5rem;
}

option {
    font-size: 1.5rem;
}

.modal-content textarea {
    margin-bottom: 50px;
    font-size: 1.5rem;
}

.close {
    color: #3D3D3D;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #3D3D3D;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form select, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user img {
    width: 13rem;
    height: 13rem;
    border: 5px solid #AFECA9;
    border-radius: 50%;
    margin: 0 auto;
}

.communityContent .row .user p {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

.communityContent .row .text {
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
}

h1 {
    font-size: 3.5rem;
}

.communityContent .row .text p {
    text-align: justify;
    margin-bottom: 3.5rem;
}

.communityContent .row .text img {
    width: 20rem;
    max-height: 25rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

.communityContent .row .text a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #D8CEC5;
}

.communityContent .row .text a:hover {
    color: #AFECA9 !important;
}

#admincontrols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
}

#admincontrols a {
    text-decoration: none;
    color: #D8CEC5;
    border: 3px solid #D8CEC5;
    padding: 0.5rem 3.5rem;
    border-radius: 2rem;
    transition: 0.5s ease-in-out;
}

#admincontrols button {
    text-decoration: none;
    color: #D8CEC5;
    border: 3px solid #D8CEC5;
    background: transparent;
    padding: 0.5rem 3.5rem;
    border-radius: 2rem;
    transition: 0.5s ease-in-out;
}

#showComments:hover {
    color: #D8CEC5 !important;
    background-color: #348337;
}

#deletepost:hover {
    color: #D8CEC5 !important;
    background-color: rgb(154, 19, 19) !important;
}

hr {
    opacity: 1;
}

@media (min-width: 2560px) {
    .secondbg {
        background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-attachment: fixed;
    }
    
    .communityContent {
        background-color: rgba(61, 61, 61, 0.421);
        padding: 50px;
        width: 80%;
        margin: 100px auto;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        color: #D8CEC5;
        flex-direction: column;
        font-size: 35px;
    }
    
    .user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .user img {
        width: 250px;
        border: 5px solid #AFECA9;
        border-radius: 150px;
        margin: 0 auto;
    }
    
    .communityContent .row .user p {
        text-align: center;
        margin-top: 20px;
    }
    
    .communityContent .row .text {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    
    h1 {
        font-size: 50px;
    }
    
    .communityContent .row .text p {
        text-align: justify;
        margin-bottom: 50px;
    }
    
    .communityContent .row .text img {
        width: 450px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    
    .communityContent .row .text a {
        text-decoration: none;
        width: 40%;
        color: #AFECA9;
    }
    
    .communityContent .row .text a:hover {
        color: #63D157 !important;
        cursor: pointer;
    }

    .user img {
        border: 0.5rem solid #AFECA9;
    }

    .user p {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    .communityContent .row .text img {
        width: 35rem;
    }

    .communityContent .row .text p {
        font-size: 3rem;
    }

    .text a {
        font-size: 4rem;
        width: 50% !important;
    }

    #admincontrols {
        margin-top: 3rem !important;
    }
    
    #admincontrols a {
        display: flex;
        width: 100rem !important;
        justify-content: center !important;
        font-size: 3rem;
    }
    
    #deletepost {
        margin-left: 500px !important;
        border-radius: 50px;
        color: #D8CEC5 !important;
    }
    
    #deletepost:hover {
        color: #D8CeC5 !important;
        background-color: rgb(175, 22, 22);
        border-radius: 50px;
        padding: 10px;
        transition: 0.8s;
    }
}