<div class="mainBg">
    <app-adminnavbar></app-adminnavbar>>

    <div class="container-fluid title">
        <div class="row">
            <div class="col-12">
                <p>
                    Flames of Freedom: 1956
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row footer">
            <footer id="homeFooter">
                <div class="col-6">
                    <a href="/download" id="downloadButton">
                        Join the Resistance
                    </a>
                </div>
                <div class="col-6 social">
                    <p>
                        <a href="not-found">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="not-found">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="not-found">
                            <i class="bi bi-discord"></i>
                        </a>
                    </p>
                    <p>
                        <a href="not-found">
                            <i class="bi bi-tiktok"></i>
                        </a>
                        <a href="not-found">
                            <i class="bi bi-youtube"></i>
                        </a>
                        <a href="not-found">
                            <i class="bi bi-github"></i>
                        </a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>
