.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.devContent {
    background-color: rgba(61, 61, 61, 0.421);
    padding: 50px;
    width: 80%;
    margin: 100px auto;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    color: #D8CEC5;
    flex-direction: column;
    font-size: 30px;
}

.create-log-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#showMore {
    padding: 10px 50px;
    border-radius: 50px;
    border: 3px solid #D8CEC5;
    background-color: transparent;
    color: #D8CEC5;
    transition: background-color 0.5s ease-in-out !important;
    font-weight: 600;
}

#showMore:hover {
    background-color: rgb(177, 117, 64);
}

#submit {
    background-color: #8B8B8B;
    cursor: not-allowed;
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
}

#submit:disabled {
    background-color: #8b8b8b !important;
    transition: 0.5s ease-in-out;
}

#submit:not(:disabled) {
    background-color: #4CAF50;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#submit:hover {
    background-color: #338837;
}

.create-log-btn {
    margin-top: 50px;
    font-size: 30px;
    width: 30%;
    background-color: #4CAF50;
    color: #D8CEC5;
    border: none;
    padding: 15px 35px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out !important;
    font-weight: 600;
}

.create-log-btn:hover {
    background-color: #338837;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #FEFEFE;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.modal-content form {
    padding: 0 40px;
}

.modal-content h2 {
    color: #3D3D3D;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.modal-content label {
    color: #3D3D3D;
    font-size: 30px;
    font-weight: bold;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
    margin-bottom: 50px;
    font-size: 25px;
}

option {
    font-size: 25px;
}

.close {
    color: #3D3D3D;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #3D3D3D;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form select,
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #CCCCCC;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dev img {
    width: 200px;
    height: 200px;
    border: 5px solid #AFECA9;
    border-radius: 50%;
    margin: 0 auto;
}

.devContent .row .dev p {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}

.devContent .row .text {
    display: flex;
    flex-direction: column;
}

.devContent .row .text p {
    text-align: justify;
    margin-bottom: 25px;
}

#status {
    margin-top: 20px;
    font-weight: bold;
}

#admincontrols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40%;
}

#admincontrols a {
    text-decoration: none;
    color: #D8CEC5;
    border: 3px solid #D8CEC5;
    padding: 5px 35px;
    border-radius: 50px;
    transition: background-color 0.5s ease-in-out !important;
}

#admincontrols button {
    text-decoration: none;
    color: #D8CEC5;
    border: 3px solid #D8CEC5;
    background: transparent;
    padding: 5px 35px;
    border-radius: 50px;
    transition: background-color 0.5s ease-in-out !important;
}

#editLog:hover {
    color: #D8CEC5 !important;
    background-color: #348337;
}

#deletepost:hover {
    color: #D8CEC5 !important;
    background-color: rgb(154, 19, 19) !important;
}

@media screen and (min-width: 425px) {
    .devContent {
        padding: 20 !important;
        display: flex;
        justify-content: center;
        width: 95%;
    }

    .devContent .row .row {
        padding: 0 !important;
        margin: 0 auto;
    }

    .dev {
        padding: 0 !important;
    }

    .dev img {
        width: 150px;
        height: 150px;
    }
    
    .dev p {
        font-size: 35px !important;
        display: flex;
        justify-content: center;
    }

    .text {
        padding: 0 !important;
    }

    .devContent .row .text {
        font-size: 36px;
    }

    hr {
        opacity: 1;
    }

    #showMore {
        font-size: 25px;
    }

    #submit {
        background-color: #8B8B8B;
        cursor: not-allowed;
        width: 60%;
        margin: 0 auto;
        font-size: 30px;
        font-weight: bold;
    }
    
    #submit:disabled {
        background-color: #8b8b8b !important;
        transition: 0.5s ease-in-out;
    }
    
    #submit:not(:disabled) {
        background-color: #4CAF50;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }
    
    #submit:hover {
        background-color: #338837;
        transition: 0.5s ease-in-out;
    }
    
    .create-log-btn {
        margin-top: 50px;
        font-size: 25px;
        width: 100%;
        color: #D8CEC5;
        border: none;
        padding: 15px 32px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        font-weight: 600;
    }
    
    .modal {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    
    .modal-content {
        background-color: #FEFEFE;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888888;
        width: 95%;
        max-width: 600px;
        border-radius: 10px;
    }
    
    .modal-content form {
        padding: 0 10px;
    }
    
    .modal-content h2 {
        color: #3D3D3D;
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
    }
    
    .modal-content label {
        color: #3D3D3D;
        font-size: 25px;
        font-weight: bold;
    }
    
    .modal-content input {
        margin-bottom: 50px;
        font-size: 20;
    }
    
    .modal-content select {
        margin-bottom: 50px;
        font-size: 25px;
    }
    
    option {
        font-size: 20px;
    }
    
    .modal-content textarea {
        margin-bottom: 50px;
        font-size: 20px;
    }
    
    .close {
        color: #3D3D3D;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .close:hover,
    .close:focus {
        color: #3D3D3D;
        text-decoration: none;
        cursor: pointer;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    form input, form select, form textarea {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
    }
    
    form button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    form button:hover {
        background-color: #45a049;
    }

    #admincontrols {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        margin: 0 20px;
    }
    
    #admincontrols a {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 100%;
        margin-bottom: 30px;
        font-size: 25px;
    }
    
    #admincontrols button {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        background: transparent;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 100%;
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) {
    .devContent {
        padding: 10 !important;
        display: flex;
        justify-content: center;
    }

    .devContent .row .row {
        padding: 0 !important;
        margin: 0 auto;
    }

    .dev {
        padding: 0 !important;
    }

    .dev img {
        width: 200px;
        height: 200px;
    }
    
    .dev p {
        font-size: 45px !important;
        display: flex;
        justify-content: center;
    }

    .text {
        padding: 0 !important;
    }

    .devContent .row .text {
        font-size: 46px;
    }

    #showMore {
        font-size: 25px;
    }

    #submit {
        background-color: #8B8B8B;
        cursor: not-allowed;
        width: 60%;
        margin: 0 auto;
        font-size: 30px;
        font-weight: bold;
    }
    
    #submit:disabled {
        background-color: #8b8b8b !important;
        transition: 0.5s ease-in-out;
    }
    
    #submit:not(:disabled) {
        background-color: #4CAF50;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }
    
    #submit:hover {
        background-color: #338837;
        transition: 0.5s ease-in-out;
    }
    
    .create-log-btn {
        margin-top: 50px;
        font-size: 25px;
        width: 70%;
        color: #D8CEC5;
        border: none;
        padding: 15px 32px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        font-weight: 600;
    }
    
    .modal {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    
    .modal-content {
        background-color: #FEFEFE;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888888;
        width: 70%;
        max-width: 600px;
        border-radius: 10px;
    }
    
    .modal-content form {
        padding: 0 10px;
    }
    
    .modal-content h2 {
        color: #3D3D3D;
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
    }
    
    .modal-content label {
        color: #3D3D3D;
        font-size: 25px;
        font-weight: bold;
    }
    
    .modal-content input {
        margin-bottom: 50px;
        font-size: 20;
    }
    
    .modal-content select {
        margin-bottom: 50px;
        font-size: 25px;
    }
    
    option {
        font-size: 20px;
    }
    
    .modal-content textarea {
        margin-bottom: 50px;
        font-size: 20px;
    }
    
    .close {
        color: #3D3D3D;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .close:hover,
    .close:focus {
        color: #3D3D3D;
        text-decoration: none;
        cursor: pointer;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    form input, form select, form textarea {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
    }
    
    form button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    form button:hover {
        background-color: #45a049;
    }

    #admincontrols {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        text-align: center;
        gap: 30%;
    }
    
    #admincontrols a {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 90%;
        margin-bottom: 30px;
        font-size: 25px;
    }
    
    #admincontrols button {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        background: transparent;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 80%;
        height: fit-content;
        font-size: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .devContent {
        padding: 10;
        display: flex;
        justify-content: center;
    }

    .devContent .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .devContent .row .row {
        display: flex;
        justify-content: center;
    }

    .dev {
        padding: 0 !important;
    }

    .dev img {
        width: 200px;
        height: 200px;
    }
    
    .dev p {
        font-size: 40px !important;
        display: flex;
        justify-content: center;
    }

    .text {
        padding-left: 100px !important;
        font-size: 5px;
        width: 70%;
    }

    .devContent .row .text {
        font-size: 46px;
    }

    #showMore {
        font-size: 35px;
    }

    #submit {
        background-color: #8B8B8B;
        cursor: not-allowed;
        width: 60%;
        margin: 0 auto;
        font-size: 30px;
        font-weight: bold;
    }
    
    #submit:disabled {
        background-color: #8b8b8b !important;
        transition: 0.5s ease-in-out;
    }
    
    #submit:not(:disabled) {
        background-color: #4CAF50;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }
    
    #submit:hover {
        background-color: #338837;
        transition: 0.5s ease-in-out;
    }
    
    .create-log-btn {
        margin-top: 50px;
        font-size: 25px;
        width: 50%;
        color: #D8CEC5;
        border: none;
        padding: 15px 32px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        font-weight: 600;
    }
    
    .modal {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    
    .modal-content {
        background-color: #FEFEFE;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888888;
        width: 95%;
        max-width: 600px;
        border-radius: 10px;
    }
    
    .modal-content form {
        padding: 0 10px;
    }
    
    .modal-content h2 {
        color: #3D3D3D;
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
    }
    
    .modal-content label {
        color: #3D3D3D;
        font-size: 25px;
        font-weight: bold;
    }
    
    .modal-content input {
        margin-bottom: 50px;
        font-size: 20;
    }
    
    .modal-content select {
        margin-bottom: 50px;
        font-size: 25px;
    }
    
    option {
        font-size: 20px;
    }
    
    .modal-content textarea {
        margin-bottom: 50px;
        font-size: 20px;
    }
    
    .close {
        color: #3D3D3D;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .close:hover,
    .close:focus {
        color: #3D3D3D;
        text-decoration: none;
        cursor: pointer;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    form input, form select, form textarea {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
    }
    
    form button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    form button:hover {
        background-color: #45a049;
    }

    #admincontrols {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        text-align: center;
        gap: 10%;
    }
    
    #admincontrols a {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 90%;
        margin-bottom: 30px;
        font-size: 25px;
    }
    
    #admincontrols button {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        background: transparent;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 80%;
        height: fit-content;
        font-size: 25px;
    }
}

@media screen and (min-width: 1440px) {
    .devContent {
        padding: 10;
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .devContent .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .devContent .row .row {
        display: flex;
        justify-content: center;
    }

    .dev {
        padding: 0 !important;
    }

    .dev img {
        width: 180px;
        height: 180px;
    }
    
    .dev p {
        font-size: 40px;
        display: flex;
        justify-content: center;
    }

    .devContent .row .text {
        font-size: 40px;
        padding-left: 120px !important;
    }

    #showMore {
        font-size: 35px;
    }

    #submit {
        background-color: #8B8B8B;
        cursor: not-allowed;
        width: 60%;
        margin: 0 auto;
        font-size: 30px;
        font-weight: bold;
    }
    
    #submit:disabled {
        background-color: #8b8b8b !important;
        transition: 0.5s ease-in-out;
    }
    
    #submit:not(:disabled) {
        background-color: #4CAF50;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }
    
    #submit:hover {
        background-color: #338837;
        transition: 0.5s ease-in-out;
    }
    
    .create-log-btn {
        margin-top: 50px;
        font-size: 25px;
        width: 40%;
        color: #D8CEC5;
        border: none;
        padding: 15px 32px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        font-weight: 600;
    }
    
    .modal {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    
    .modal-content {
        background-color: #FEFEFE;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888888;
        width: 95%;
        max-width: 600px;
        border-radius: 10px;
    }
    
    .modal-content form {
        padding: 0 10px;
    }
    
    .modal-content h2 {
        color: #3D3D3D;
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
    }
    
    .modal-content label {
        color: #3D3D3D;
        font-size: 25px;
        font-weight: bold;
    }
    
    .modal-content input {
        margin-bottom: 50px;
        font-size: 20;
    }
    
    .modal-content select {
        margin-bottom: 50px;
        font-size: 25px;
    }
    
    option {
        font-size: 20px;
    }
    
    .modal-content textarea {
        margin-bottom: 50px;
        font-size: 20px;
    }
    
    .close {
        color: #3D3D3D;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .close:hover,
    .close:focus {
        color: #3D3D3D;
        text-decoration: none;
        cursor: pointer;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    form input, form select, form textarea {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
    }
    
    form button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    form button:hover {
        background-color: #45a049;
    }

    #admincontrols {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        text-align: center;
        gap: 10%;
    }
    
    #admincontrols a {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 90%;
        margin-bottom: 30px;
        font-size: 25px;
    }
    
    #admincontrols button {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        background: transparent;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 80%;
        height: fit-content;
        font-size: 25px;
    }
}

@media screen and (min-width: 1920px) {
    .devContent {
        width: 75%;
    }

    .create-log-btn {
        width: 30%;
    }
}

@media screen and (min-width: 2560px) {
    .devContent {
        padding: 10;
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .devContent .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .devContent .row .row {
        display: flex;
        justify-content: center;
    }

    .dev {
        padding: 0 !important;
    }

    .dev img {
        width: 250px;
        height: 250px;
    }
    
    .dev p {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    .devContent .row .text {
        font-size: 60px;
        padding-left: 120px !important;
    }

    #showMore {
        font-size: 55px;
    }

    #submit {
        background-color: #8B8B8B;
        cursor: not-allowed;
        width: 60%;
        margin: 100px auto;
        font-size: 30px;
        font-weight: bold;
    }
    
    #submit:disabled {
        background-color: #8b8b8b !important;
        transition: 0.5s ease-in-out;
    }
    
    #submit:not(:disabled) {
        background-color: #4CAF50;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }
    
    #submit:hover {
        background-color: #338837;
        transition: 0.5s ease-in-out;
    }
    
    .create-log-btn {
        margin-top: 50px;
        font-size: 55px;
        width: 40%;
        color: #D8CEC5;
        border: none;
        padding: 15px 32px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        font-weight: 600;
    }
    
    .modal {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    
    .modal-content {
        background-color: #FEFEFE;
        margin: 5% auto;
        padding: 50px 50px;
        border: 1px solid #888888;
        width: 800px;
        height: 700px;
        max-width: 10000px;
        border-radius: 10px;
    }
    
    .modal-content form {
        padding: 50 100px;
    }
    
    .modal-content h2 {
        color: #3D3D3D;
        text-align: center;
        font-size: 55px;
        margin-bottom: 50px;
    }
    
    .modal-content label {
        color: #3D3D3D;
        font-size: 50px;
        font-weight: bold;
    }
    
    .modal-content input {
        margin-bottom: 50px;
        font-size: 45px;
    }
    
    .modal-content select {
        margin-bottom: 50px;
        font-size: 55px;
    }
    
    option {
        font-size: 45px;
    }
    
    .modal-content textarea {
        margin-bottom: 50px;
        font-size: 45px;
    }
    
    .close {
        color: #3D3D3D;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .close:hover,
    .close:focus {
        color: #3D3D3D;
        text-decoration: none;
        cursor: pointer;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    form input, form select, form textarea {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
    }
    
    form button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    form button:hover {
        background-color: #45a049;
    }

    #admincontrols {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        text-align: center;
        gap: 10%;
    }
    
    #admincontrols a {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 90%;
        margin-bottom: 30px;
        font-size: 45px;
    }
    
    #admincontrols button {
        text-decoration: none;
        color: #D8CEC5;
        border: 3px solid #D8CEC5;
        background: transparent;
        padding: 5px 35px;
        border-radius: 50px;
        transition: 0.5s ease-in-out;
        width: 80%;
        height: fit-content;
        font-size: 45px;
    }
}