.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.devContent {
    background-color: rgba(61, 61, 61, 0.421);
    padding: 6.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
    border-radius: 4.7rem;
    color: #D8CEC5;
}

.devContent .row div {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    font-size: 2.5rem;
}

.dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dev img {
    width: 15.5rem;
    border: 0.3rem solid #AFECA9;
    border-radius: 12rem;
    margin: 0 auto;
}

.devContent .row .dev p {
    text-align: center;
    margin-top: 1.5rem;
}

.devContent .row .text {
    display: flex;
    padding-left: 6.5rem;
    text-align: justify;
    align-items: center;
    flex-direction: column;
}

#status {
    width: 100%;
    margin-top: 2.5rem;
    text-align: left !important;
}

#admincontrols {
    display: flex;
    flex-direction: row !important;
    margin-top: 3.5rem !important;
}

#admincontrols a {
    display: flex;
    justify-content: center !important;
}

#editLog {
    text-decoration: none;
    color: #D8CeC5;
    padding: 0.3rem 0.3rem;
    width: 10rem;
}

#editLog:hover {
    color: #afeca9;
}

#deletepost {
    display: flex;
    justify-content: end;
    margin-left: 25rem;
    text-decoration: none;
    color: #D8CeC5;
    padding: 0.6rem 1.3rem;
    width: 20rem;
    border-radius: 50px;
}

#deletepost:hover {
    color: #D8CeC5 !important;
    background-color: rgb(154, 19, 19);
    padding: 0.6rem 1.3rem;
    border-radius: 3.5rem;
    transition: 0.8s;
}

hr {
    opacity: 1;
}

@media (min-width: 2560px) {
    .dev img {
        border: 0.5rem solid #AFECA9;
    }
    
    .dev  p{
        font-size: 3rem;
    }

    .devContent .row .text {
        font-size: 3.5rem;
    }

    #admincontrols {
        margin-top: 3rem !important;
    }

    #admincontrols a {
        display: flex;
        width: 20rem !important;
        justify-content: center !important;
        font-size: 3rem;
    }
    
    #editpost {
        text-decoration: none;
        color: #AFECA9;
        padding: 0.5rem 2.5rem !important;
    }
    
    #editpost:hover {
        color: #63D157 !important;
    }
    
    #deletepost {
        display: flex;
        justify-content: end;
        margin-left: 20rem;
        text-decoration: none;
        color: #D8CeC5;
        padding: 0.5rem 2.5rem !important;
        border-radius: 50px;
    }
    
    #deletepost:hover {
        color: #D8CeC5 !important;
        background-color: rgb(175, 22, 22);
        border-radius: 3rem;
        padding: 1rem;
        transition: 0.8s;
    }
}