.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.communityContent {
    background-color: rgba(61, 61, 61, 0.421);
    padding: 3.5rem;
    width: 80%;
    margin: 6.5rem auto;
    border-radius: 4.7rem;
    display: flex;
    justify-content: center;
    color: #D8CEC5;
    flex-direction: column;
    font-size: 2rem;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user img {
    width: 13rem;
    height: 13rem;
    border: 0.3rem solid #AFECA9;
    border-radius: 50%;
    margin: 0 auto;
}

.communityContent .row .user p {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

.communityContent .row .text {
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
}

h1 {
    font-size: 3.5rem;
}

.communityContent .row .text p {
    text-align: justify;
    margin-bottom: 3.5rem;
}

.communityContent .row .text img {
    width: 20rem;
    max-height: 25rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

.communityContent .row .text a {
    text-decoration: none;
    font-size: 2.5rem;
    width: 45%;
    color: #AFECA9;
}

.communityContent .row .text a:hover {
    color: #63d157 !important;
    cursor: pointer;
}

hr {
    opacity: 1;
}

@media screen and (min-width: 2560px) {
    .user img {
        border: 0.5rem solid #AFECA9;
        width: 18rem;
    }

    .user p {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    .communityContent .row .text img {
        width: 35rem;
    }

    .communityContent .row .text p {
        font-size: 3rem;
    }

    .text a {
        font-size: 3.5rem;
        width: 50% !important;
    }
}