.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.communityContent {
    background-color: rgba(61, 61, 61, 0.421);
    padding: 50px;
    width: 80%;
    margin: 100px auto;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    color: #D8CEC5;
    flex-direction: column;
    font-size: 35px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user img {
    width: 250px;
    border: 5px solid #AFECA9;
    border-radius: 150px;
    margin: 0 auto;
}

.communityContent .row .user p {
    text-align: center;
    margin-top: 20px;
}

.communityContent .row .text {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

h1 {
    font-size: 50px;
}

.communityContent .row .text p {
    text-align: justify;
    margin-bottom: 50px;
}

.communityContent .row .text img {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.communityContent .row .text a {
    text-decoration: none;
    width: 40%;
    color: #AFECA9;
}

.communityContent .row .text a:hover {
    color: #63d157 !important;
    cursor: pointer;
}

hr {
    opacity: 1;
}

@media (min-width: 2560px) {
    .user img {
        border: 0.5rem solid #AFECA9;
    }

    .user p {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    .communityContent .row .text img {
        width: 35rem;
    }

    .communityContent .row .text p {
        font-size: 3rem;
    }

    .text a {
        font-size: 4rem;
        width: 50% !important;
    }
}