<div class="secondbg">
    <app-loggedinnavbar></app-loggedinnavbar>
    <div class="container-fluid mediaContent">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <p>
                    We fight for freedom, for the future of our nation!
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="freedom.jpg" alt="" id="galleryPic">
            </div>

            <hr>

            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <p>
                    1956 The eternal memory of the courage of the Hungarian people
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="courage.png" alt="" id="galleryPic">
            </div>

            <hr>

            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <p>
                    The revolution lives in our hearts, we will never give up!
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="revolution.jpg" alt="" id="galleryPic">
            </div>

            <hr>

            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <p>
                    One nation, one will: a free Hungary!
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="nation.jpeg" alt="" id="galleryPic">
            </div>

            <hr>

            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <p>
                    The flame of truth was ignited in 1956!
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="flame.jpg" alt="" id="galleryPic">
            </div>

            <hr>

            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <p>
                    They were heroes who shaped our future.
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="heroes.jpg" alt="" id="galleryPic">
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>