.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

h1 {
    font-size: 70px;
    margin-bottom: 80px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
}

label {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

input {
    border-radius: 35px !important;
    padding: 15px 30px;
    border: none;
    font-size: 25px;
}

textarea {
    border-radius: 35px !important;
    padding: 15px 30px;
    border: none;
    font-size: 25px;
}

input:focus {
    outline: 3px solid #3A69B6;
}

button {
    width: 55%;
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 80px;
    margin-top: 35px;
    font-weight: bold;
    border: none;
    color: #e0d9d2;
    transition: background-color 0.5s ease-in-out;
}

#submit {
    background-color: #8b8b8b;
}

#submit:disabled {
    background-color: #8b8b8b !important;
    transition: background-color 0.5s ease-in-out !important;
}

#submit:not(:disabled) {
    background-color: #405A85;
    transition: 0.5s ease-in-out;
}

#submit:hover {
    background-color: #3A69B6;
    transition: 0.5s ease-in-out;
}

.error {
    color: rgb(171, 19, 19);
    font-size: 45px;
    margin-top: 25px;
    text-align: center;
    font-family: Bookman Old Style;
}

.invalid {
    border: 0.3rem solid red;
}

@media screen and (max-width: 425px) {
    form {
        width: 90%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 20px 30px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    p {
        font-size: 20px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 25px;
    }
    
    input {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        width: 100%;
    }

    textarea {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        width: 100%;
    }

    button {
        width: 90%;
        font-size: 30px;
        padding: 5px 15px;
        border-radius: 80px;
        margin-top: 20px;
        font-weight: bold;
        border: none;
        color: #e0d9d2;
        transition: background-color 0.5s ease-in-out;
    }

    .error {
        color: rgb(171, 19, 19);
        font-size: 25px;
        margin-top: 15px;
        text-align: center;
        font-family: Bookman Old Style;
    }
}

@media screen and (min-width: 768px) {
    form {
        width: 75%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 20px 40px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 50px;
    }

    p {
        font-size: 30px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 30px;
    }
    
    input {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 25px;
        width: 100%;
    }

    textarea {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 25px;
        width: 100%;
    }

    button {
        width: 60%;
        font-size: 30px;
        padding: 5px 15px;
        border-radius: 80px;
        margin-top: 20px;
        font-weight: bold;
        border: none;
        color: #e0d9d2;
        transition: background-color 0.5s ease-in-out;
    }

    .error {
        color: rgb(171, 19, 19);
        font-size: 30px;
        margin-top: 15px;
        text-align: center;
        font-family: Bookman Old Style;
    }
}

@media screen and (min-width: 1024px) {
    form {
        width: 65%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 50px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 50px;
    }

    p {
        font-size: 40px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 35px;
    }
    
    input {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 30px;
        width: 100%;
    }

    textarea {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 30px;
        width: 100%;
    }

    button {
        width: 60%;
        font-size: 40px;
        padding: 5px 15px;
        border-radius: 80px;
        margin-top: 40px;
        font-weight: bold;
        border: none;
        color: #e0d9d2;
        transition: background-color 0.5s ease-in-out;
    }

    .error {
        color: rgb(171, 19, 19);
        font-size: 40px;
        margin-top: 15px;
        text-align: center;
        font-family: Bookman Old Style;
    }
}

@media screen and (min-width: 1440px) {
    form {
        width: 45%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 50px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 50px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 40px;
    }
    
    input {
        border-radius: 35px !important;
        padding: 10px 20px;
        border: none;
        font-size: 30px;
        width: 100%;
    }

    button {
        width: 60%;
        font-size: 40px;
        padding: 5px 15px;
        border-radius: 80px;
        margin-top: 40px;
        font-weight: bold;
        border: none;
        color: #e0d9d2;
        transition: background-color 0.5s ease-in-out;
    }

    .error {
        color: rgb(171, 19, 19);
        font-size: 40px;
        margin-top: 15px;
        text-align: center;
        font-family: Bookman Old Style;
    }
}

@media screen and (min-width: 1920px) {
    form{
        width: 40%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 50px 70px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    button {
        margin-top: 80px;
    }
}

@media screen and (min-width: 2560px) {
    form {
        width: 35%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 80px !important;
        background-color: #D8CEC5;
        text-align: center;
    }

    h1 {
        font-size: 80px;
        margin-bottom: 50px;
    }

    p {
        font-size: 50px;
    }
    
    label {
        font-weight: bold;
        text-align: left;
        font-size: 50px;
    }
    
    input {
        border-radius: 45px !important;
        padding: 10px 20px;
        border: none;
        font-size: 40px;
        width: 100%;
    }

    textarea {
        border-radius: 45px !important;
        padding: 10px 20px;
        border: none;
        font-size: 40px;
        width: 100%;
    }

    button {
        width: 65%;
        font-size: 60px;
        padding: 5px 15px;
        border-radius: 80px;
        margin-top: 50px;
        font-weight: bold;
        border: none;
        color: #e0d9d2;
        transition: background-color 0.5s ease-in-out;
    }

    .error {
        color: rgb(171, 19, 19);
        font-size: 45px;
        margin-top: 15px;
        text-align: center;
        font-family: Bookman Old Style;
    }
}