.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.profileCard {
    margin: 100px auto;
    background-color: #D8CEC5;
    border-radius: 50px;
    width: 50%;
    font-size: 25px;
    padding: 50px 150px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.input-group {
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 30px;
    font-weight: bold;
}

input {
    width: 70%;
    border-radius: 50px;
    padding: 5px 15px;
    border: none;
}

input:focus {
    outline: 3px solid #3A69B6;
}

textarea {
    width: 70%;
    border-radius: 15px;
    padding: 5px 15px;
    min-height: 100px;
    border: none;
}

textarea:focus {
    outline: 3px solid #3A69B6;
}

img {
    width: 150px;
}

a {
    margin-left: 25px;
    font-size: 30px;
    color: #3D3D3D;
    text-decoration: none;
}

a:hover {
    color: #3D3D3D !important;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.buttons div {
    width: 350px;
    display: flex;
    justify-content: center;
}

button {
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: #405A85;
    color: #D8CEC5;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
}

#logout:hover {
    background-color: #3A69B6;
    color: #D8CEC5;
    transition: 0.5s ease-in-out;
}

#save {
    background-color: #8b8b8b;
}

#hover {
    background-color: #6767678F;
}
/* 
@media (max-width: 1024px) {
    .profileCard {
        width: 70%;
        padding: 40px;
    }

    .profileCard .input-group input,
    .profileCard .input-group textarea {
        width: 100% !important;
    }

    .profileCard .buttons div {
        width: 100% !important;
    }

    .profileCard .buttons div a {
        width: 100% !important;
        padding: 20px;
        font-size: 25px !important;
    }

    .profileCard h1 {
        font-size: 40px !important;
    }

    .profileCard .input-group label {
        font-size: 25px !important;
    }
}

@media (max-width: 768px) {
    .profileCard {
        width: 90%;
        padding: 30px;
    }

    .profileCard .input-group input,
    .profileCard .input-group textarea {
        width: 100% !important;
    }

    .profileCard .buttons div {
        width: 100% !important;
    }

    .profileCard .buttons div a {
        width: 100% !important;
        padding: 15px;
        font-size: 22px !important;
    }

    .profileCard h1 {
        font-size: 30px !important;
    }

    .profileCard .input-group label {
        font-size: 20px !important;
    }
}

@media (max-width: 480px) {
    .profileCard {
        width: 95%;
        padding: 20px;
    }

    .profileCard .input-group input,
    .profileCard .input-group textarea {
        width: 100% !important;
    }

    .profileCard .buttons div {
        width: 100% !important;
    }

    .profileCard .buttons div a {
        width: 100% !important;
        padding: 10px;
        font-size: 18px !important;
    }

    .profileCard h1 {
        font-size: 25px !important;
    }

    .profileCard .input-group label {
        font-size: 18px !important;
    }
} */
