.secondbg {
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/makarov\ BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.devContent {
    background-color: rgba(61, 61, 61, 0.421);
    padding: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 75px;
    color: #D8CEC5;
}

.devContent .row div {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
}

.dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dev img {
    width: 250px;
    border: 5px solid #AFECA9;
    border-radius: 150px;
    margin: 0 auto;
}

.devContent .row .dev p {
    text-align: center;
    margin-top: 20px;
}

.devContent .row .text {
    display: flex;
    padding-left: 100px;
    text-align: justify;
    align-items: center;
}

@media (min-width: 2560px) {
    .dev img {
        border: 0.5rem solid #AFECA9;
    }
    
    .dev  p{
        font-size: 3rem;
    }

    .devContent .row .text {
        font-size: 3.5rem;
    }
}