.mainBg{
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    height: 100vh;
}

.title {
    font-size: 80px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 11%;
    color: #D8CEC5;
    font-family: Jacques Francois;
}

footer {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(175, 149, 131, 0.684), rgba(46, 39, 34, 0.53));
}

#downloadButton {
    background-color: #405A85;
    padding: 20px 50px;
    text-align: center;
    border-radius: 50px;
    margin-left: 50px;
    text-decoration: none;
    color: #D8CEC5;
    font-size: 30px;
}

#downloadButton:hover {
    color: #D8CEC5;
    background-color: #3A69B6;
}

/* @media (max-width: 2556px) {
    .title {
        font-size: 7rem;
    }

    #downloadButton {
        font-size: 40px;
        padding: 30px 70px;
    }

    #homeFooter .social p {
        font-size: 50px;
    }
}

@media (max-width: 1024px) {
    .title {
        font-size: 4rem;
    }

    #homeFooter {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    #downloadButton {
        font-size: 25px;
        padding: 15px 40px;
        margin-left: 0;
        margin-top: 10px;
    }

    #homeFooter .social p {
        font-size: 30px;
        padding-right: 0;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 3rem;
        width: 90%;
    }

    #homeFooter {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    #downloadButton {
        font-size: 20px;
        padding: 10px 30px;
        margin: 10px 0;
    }

    #homeFooter .social p {
        font-size: 25px;
        justify-content: center;
    }
} */

