.mainBg{
    background-image: linear-gradient(rgba(175, 149, 131, 0.573), rgba(46, 39, 34, 0.676)), url("../../../assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    height: 100vh;
}

.title {
    font-size: 5rem;
    color: #D8CEC5;
    font-family: "Jacques Francois", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 35vh);
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(175, 149, 131, 0.684), rgba(46, 39, 34, 0.53));
}

#downloadButton {
    background-color: #405A85;
    padding: 20px 50px;
    text-align: center;
    border-radius: 50px;
    margin-left: 50px;
    text-decoration: none;
    color: #D8CEC5;
    font-size: 2rem;
}

#downloadButton:hover {
    color: #D8CEC5 !important;
    background-color: #3A69B6;
}

@media (min-width: 2560px) {
    .title {
        font-size: 9rem;
        height: calc(100vh - 35vh);
    }

    footer {
        height: 15rem;
    }

    #downloadButton {
        font-size: 4rem;
    }

    .social a{
        font-size: 4rem;
        padding: 0 1.5rem;
    }
}