<div class="secondbg">
    <app-loggedinnavbar></app-loggedinnavbar>
    <div class="container-fluid communityContent">
        <div class="row" *ngFor="let post of postList">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img [src]="post.profilePic" alt="user">
                <p>
                    {{ post.username }}
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>{{ post.title }}</h1><br>
                <p>
                    {{ post.content }}
                </p>
                <img *ngIf="post.image" [src]="post.image" alt="picture">
                <a href="/logged-in-community">
                    Show Comments
                </a>
            </div>
            <hr>
        </div>
    </div>
    <app-footer></app-footer>
</div>