<div class="secondbg">
    <app-loggedinnavbar></app-loggedinnavbar>
    <div class="container-fluid communityContent">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    lwilson
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Beginner's Guide to the Game</h1><br>
                <p>
                    This guide covers the basics for new players. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    phall
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>How to Unlock Hidden Features</h1><br>
                <p>
                    Discover the hidden easter eggs in the game. <br>
                    I’m playing through the game for the third time, and I just discovered a secret room in the basement
                    where you can use the codes from an old radio station to listen to secret messages! The audio
                    materials are fascinating and open up new threads in the story!
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    dfoster
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Best Speedrun Route for Beginners</h1><br>
                <p>
                    A quick overview of the best routes for speedrunning. <br>
                    I didn’t know that if I betray my friend during the interrogation, the entire resistance group would
                    be arrested… The ending of the story changed completely! 😭 Now I see how important my decisions are
                    in this game!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    sroberts
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>My Latest Fan Art</h1><br>
                <p>
                    Here's my latest drawing of the main character. <br>
                    Guys, I found an awesome Easter egg in front of the Corvin Cinema! If you wait long enough during
                    one of the scenes, you can hear a hidden dialogue about a secret shipment that unlocks a new side
                    quest! 😎 It's a bit tricky, but totally worth it!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    zroberts
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Top 5 Weapons Recommendation</h1><br>
                <p>
                    A breakdown of the top 5 weapons in the game. <br>
                    I never thought that if I didn’t help the wounded resistance fighter in one scene, the story would
                    take a completely different direction! I encountered entirely new characters and unlocked new
                    locations! 🤯 I’ve never seen such a detailed and well-developed game before.
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    cgarcia
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Game Review: Pros and Cons</h1><br>
                <p>
                    An honest review of the game after 50 hours of gameplay. <br>
                    Spoiler Alert! I can’t believe that when I finally figured out that the protagonist’s uncle is
                    actually a double agent for the revolutionary movement, everything I thought I knew about the story
                    was turned upside down! The twist was so well-written that I have to play again with different
                    choices!
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    pallen
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Technical Help: Graphics Issues</h1><br>
                <p>
                    Experiencing issues with the game's graphics? Here... <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    mperry
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Ultimate Guide to Leveling Up</h1><br>
                <p>
                    Experiencing issues with the game's graphics? Here... <br>
                    A detailed guide on how to level up quickly in the game. Not only is the gameplay impressive, but
                    the historical details are as well! I found an old newspaper in the library that describes the
                    events of the revolution in detail, and it has helped me understand the game's background story much
                    better. It's both educational and exciting!
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    tthomas
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Exploring Hidden Easter Eggs</h1><br>
                <p>
                    Some cool easter eggs I found while playing. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    kbrown
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Best Characters for Speedruns</h1><br>
                <p>
                    A list of the best characters to use in speedruns. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    bgreen
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Fan Creation: Custom Map</h1><br>
                <p>
                    Check out the custom map I made! <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    jdoe
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Best Game Settings Recommendation</h1><br>
                <p>
                    Here are the optimal settings for smooth gameplay. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    tgreen
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Game Review: Is It Worth It?</h1><br>
                <p>
                    An in-depth review of the game. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    afoster
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Fan Art: New Skin Concept</h1><br>
                <p>
                    Here's my concept art for a new character skin. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    bturner
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Quick Leveling Tips</h1><br>
                <p>
                    Some quick tips to help you level up fast. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    asmitha
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Fixing Audio Bugs</h1><br>
                <p>
                    Having trouble with sound in the game? Here’s the fix. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    nkhan
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Speedrun in Under 2 Hours</h1><br>
                <p>
                    How I completed the game in under 2 hours. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    rlewis
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Unlocking Hidden Items</h1><br>
                <p>
                    A guide on how to unlock secret items in the game. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    mlopez
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>My Favorite Fan Art Compilation</h1><br>
                <p>
                    Here are some of my best fan art works. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <img src="missing.png" alt="missingPicture">
                <a href="/profile">
                    Show Comments
                </a>
            </div>

            <hr>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 user">
                <img src="Default pfp.png" alt="user">
                <p>
                    swhite
                </p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text">
                <h1>Top 10 Game Recommendations</h1><br>
                <p>
                    My list of the top 10 games to play. <br>
                    Not only is the gameplay impressive, but the historical details are as well! I found an old
                    newspaper in the library that describes the events of the revolution in detail, and it has helped me
                    understand the game's background story much better. It's both educational and exciting!
                </p>
                <a href="/profile">
                    Show Comments
                </a>
            </div>
        </div>
    </div>
    <app-loggedinfooter></app-loggedinfooter>
</div>